@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600');

/*-------------------------- General */

/*------------ code taken from Google fonts */
.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/*------------- */

button {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/*-------------------------- Colors */

body {
   background-color: #f9e0ff;
}

p {
   color: #11005c;
}

#menu-buttons button {
   background-color: #11005c;
   color: #00fbff;
   transition: 0.3s;
}

#menu-buttons button:hover {
    background-color: #00fbff;
    color: #11005c;
    transition: 0.3s;
    border-style: solid;
    border-color: #11005c;
}

#menu-buttons button:active {
    background-color: #11005c;
    color: #00fbff;
}

.game-name {
    color: #11005c;
/*------------ code adjusted from GeeksforGeeks.org */
    text-shadow: -1px 1px 0 #00fbff,
                  1px 1px 0 #00fbff,
                  1px -1px 0 #00fbff,
                 -1px -1px 0 #00fbff;
/*------------- */
}

/*-------------------------- Menu */

#menu-section {
    display: flex;
    justify-content: center;
}

#front-page {
    position: fixed;
    padding-top: 100px;
}

#menu-title {
    font-size: 40px;
}

#menu-buttons {
    display: grid;
}

#menu-buttons button {
    margin-top: 50px;
}

/*-------------------------- How to play */

#instructions {
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

#how-to-play {
    position: fixed;
    display: block;
    text-align:center;
}

#how-to-play p {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

#how-to-play span {
    font-size: 25px;
}