@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600');

/*-------------------------- Extra Small screens */
@media screen and (min-width: 1px){
    /*-------------------------- Menu */
    #front-page {
        margin-top: 50px;
    }
    #menu-title {
        text-align: center;
    }
    #menu-buttons {
        padding: 0 10px 0 10px;
    }

    #menu-buttons button {
        margin-top: 15px;
    }

    /*-------------------------- How to play */
    #instructions {
        margin-top: 520px;
    }

    #instructions button {
        margin-top: 200px;
    }
    /*-------------------------- Select difficulty */  
    #mode-selection{
        margin-top: 250px;
    }

    #back-btn {
        margin-left: 30px;
    }

    #easy {
        padding: 40px 100px 40px 100px;
    }
    
    #medium {
        padding: 40px 99px 40px 99px;
    }
    
    #hard {
        padding: 40px 62px 40px 62px;
    }
    /*-------------------------- Game Board */
    #game-board {
        grid-gap: 0px;
        grid-template-columns: repeat(4, 95px);
        grid-template-rows: repeat(4, 95px);
    }

    .card-inner {
        width: 70px;
        height: 70px;
    }
}
/*-------------------------- Small screens */
@media screen and (min-width: 450px) {
    /*-------------------------- Menu */

    #menu-title {
        text-align: center;
    }

    #menu-buttons {
        padding: 0 10px 0 10px;
    }

    #menu-buttons button {
        margin-top: 50px;
    }
    
    /*-------------------------- How to play */
    #instructions {
        margin-top: 200px;
    }

    #instructions button {
        margin-top: 200px;
    }
    /*-------------------------- Select difficulty */  
    #mode-selection{
        margin-top: 200px;
    }

    #back-btn {
        margin-left: 10px;
    }

    #easy {
        padding: 40px 200px 40px 200px;
    }
    
    #medium {
        padding: 40px 199px 40px 199px;
    }
    
    #hard {
        padding: 40px 162px 40px 162px;
    }
    /*-------------------------- Game Board */
    #game-board {
        grid-gap: 0px;
        grid-template-columns: repeat(4, 113px);
        grid-template-rows: repeat(4, 113px);
    }

    .card-inner {
        width: 100px;
        height: 100px;
    }
}
/*-------------------------- medium screens */
@media screen and (min-width: 768px){
    /*-------------------------- Menu */
    #front-page {
        margin-bottom: 285px;
    }

    #menu-buttons button {
        margin-top: 70px;
    }

    /*-------------------------- How to play */
    #instructions {
        margin-bottom: 500px;
    }

    #instructions button {
        margin-top: 250px;
    }

    /*-------------------------- Select difficulty */  
    #mode-selection{
        margin-bottom: 180px;
    }

    #easy {
        padding: 40px 300px 40px 300px;
    }
    
    #medium {
        padding: 40px 299px 40px 299px;
    }
    
    #hard {
        padding: 40px 262px 40px 262px;
    }
    /*-------------------------- Game Board */
    #game-board {
        grid-gap: 20px;
        grid-template-columns: repeat(4, 140px);
        grid-template-rows: repeat(4, 140px);
    }

    .card-inner {
        width: 140px;
        height: 100%;
    }
}
/*-------------------------- large screens */
@media screen and (min-width: 1200px) and (max-width: 2500px){
    /*-------------------------- Menu */
    #front-page {
        margin-bottom: 190px;
    }

    #menu-buttons button {
        margin-top: 50px;
    }

    /*-------------------------- How to play */
    #instructions {
        margin-bottom: 500px;
    }

    #instructions button {
        margin-top: 250px;
    }
    /*-------------------------- Select difficulty */ 
    #mode-selection{
        margin-bottom: 180px;
    }

    #easy {
        padding: 40px 400px 40px 400px;
    }
    
    #medium {
        padding: 40px 399px 40px 399px;
    }
    
    #hard {
        padding: 40px 362px 40px 362px;
    }

     /*-------------------------- Game Board */
     #game-board {
        grid-gap: 20px;
        grid-template-columns: repeat(4, 140px);
        grid-template-rows: repeat(4, 140px);
    }

     .card-inner {
        width: 140px;
        height: 100%;
    }
}
/*-------------------------- General */

/*------------ code taken from Google fonts https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap*/
.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*------------- */

button {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-size: 25px;
    padding: 40px 0 40px 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/*-------------------------- Colors */

body {
    background-color: #000000;
}

p {
    color: #00fbff;
}

button {
    background-color: #11005c;
    color: #00fbff;
    transition: 0.3s;
}

button:hover {
    background-color: #00fbff;
    color: #11005c;
    transition: 0.3s;
    border-style: solid;
    border-color: #11005c;
}

button:active {
    background-color: #11005c;
    color: #00fbff;
}

.game-name {
    color: #11005c;
/*------------ code adjusted from GeeksforGeeks.org */
    text-shadow: -1px 1px 0 #00fbff,
                  1px 1px 0 #00fbff,
                  1px -1px 0 #00fbff,
                 -1px -1px 0 #00fbff;
/*------------- */
}

.hard {
    color: #11005c;
    text-shadow: -1px 1px 0 #ff5e5e,
                  1px 1px 0 #ff5e5e,
                  1px -1px 0 #ff5e5e,
                 -1px -1px 0 #ff5e5e;
}

.medium {
    color: #11005c;
    text-shadow: -1px 1px 0 #ff9500,
                  1px 1px 0 #ff9500,
                  1px -1px 0 #ff9500,
                 -1px -1px 0 #ff9500;
}

.extra {
    text-shadow: -1px 1px 0 #ff9500,
                  1px 1px 0 #ff9500,
                  1px -1px 0 #ff9500,
                 -1px -1px 0 #ff9500;
}

.regular {
    color: #11005c;
    text-shadow: -1px 1px 0 #00ff22,
                  1px 1px 0 #00ff22,
                  1px -1px 0 #00ff22,
                 -1px -1px 0 #00ff22;
}

/*-------------------------- Menu */

#menu-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#front-page {
    position: fixed;
}

#menu-title {
    font-size: 70px;
}

#menu-buttons {
    display: grid;
}

/*-------------------------- How to play */

#instructions {
    position: absolute;
    justify-content: center;
    padding-top: 100px;
}

#instructions button {
    padding: 10px 15px 10px 17px;
    margin-left: 60px;
   
}

#how-to-play {
    text-align:center;
}

#how-to-play .title {
    font-size: 60px;
}

#how-to-play p {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 21px;
}

#how-to-play span {
    font-size: 25px;
}

/*-------------------------- Select difficulty */

#mode-selection{
    position: absolute;
}

#back-btn {
    padding: 10px 15px 10px 17px;
}

#difficulty-title{
    font-size: 50px;
}

.difficultySelect {
    text-align: center;
}

.play-button {
    margin-bottom: 50px;
}

/*-------------------------- Game Board */

#game-screen{
    position: relative;
}

#game-board {
    display: grid;
    top: 200px;
    align-items: center;
    justify-items: center;
}

#time{
    position: relative;
}

#countdown{
    font-size: 25px;
}

/*------------ Flip effect https://www.w3schools.com/howto/howto_css_flip_card.asp*/

.card-inner {
    position: relative;
    background-color: white;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.front-image {
    width: 60px;
    height: 60px;
}

.card-inner.flip {
    transform: rotateY(180deg);
}
  
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}
  
.card-inner .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
  
.card-inner .card-back {
    transition: tranform 0.3s ease-in-out, filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: #11005c;
    color: white;
    border-style: solid;
    border-color: #00fbff;
}

.card-inner .card-front {
    transform: rotateY(180deg);
}
    